[workspace]
members = [
    "core",
    "application",
    "transport",
    "infrastructure"
]

resolver = "2"

[workspace.package]
edition = "2021"
license = "Apache-2.0"

[profile.release]
lto = true
codegen-units = 1
panic = "abort"
